In [7]:
import pandas as pd
from dotenv import load_dotenv
import os


load_dotenv()
os.chdir(os.getenv("ROOT_DIR"))

In [12]:
# --- PARAMS --- #
df_train_path = os.getenv("DF_TRAIN_PATH")

print(df_train_path)

./data/raw/train.csv

In [13]:
# --- LOAD	DATA ---
df_train = pd.read_csv(df_train_path)
df_train.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

NameError: name 'train_test_split' is not defined